body {
  background-color: #24262c;
  color: rgb(194, 194, 194);
  font-family: cambria serif;
}

.centered {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.main-logo {
	width: 500px;
	margin-top: 150px;
}

.search-area {
  margin-top: 30px;
  width: 550px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form input[type=text] {
  border: none;
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 500px;
  background: #f1f1f1;
}

form button {
  border: none;
  float: left;
  width: 50px;
  padding: 10px;
  background: #003049ff;
  color: white;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.2);
}

form span {
  padding: 6px;
}

form button:hover {
  background: rgb(0, 70, 107);
}

form::after {
  content: "";
  clear: both;
  display: table;
}

.selection-area {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 30px;
  font-size: 14px;
  font-family: sans-serif;
  outline: solid #808080 1px;
}

.selection-area > * {
  background-color: #44464c;
  height: 30px;
  color: white;
  border: none;
}

.selection-area > * {
  width: 125px;
}

.selection-area > *:nth-child(2) {
  border-right: solid #808080 1px;
}

.results-area {
  padding: 20px;
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.2);
}

.card > h3,
.card > span {
  margin: 10px;
  bottom: 0;
}

#gallery {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

@media screen and (max-width: 1000px) {
  #gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

h1 {
  margin-bottom: 20px;
}