body {
	background-color: #24262c;
	color: rgb(194, 194, 194);
}

.centered {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.main-logo {
	width: 500px;
	margin-top: 150px;
}

.search-area {
  margin-top: 30px;
  width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

form input[type=text] {
  border: none;
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 500px;
  background: #f1f1f1;
}

form button {
  border: none;
  float: left;
  width: 50px;
  padding: 10px;
  background: #003049ff;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

form button:hover {
  background: rgb(0, 70, 107);
}

form::after {
  content: "";
  clear: both;
  display: table;
}

.results-area {
  margin-top: 100px;
  width: 1250px;
}