{% extends "layout.html" %}
{% block body %}
	<div><img class='main-logo centered' src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></div>
	<div class='search-area centered'>
		<form method = "post">
			<input class="searchbar" type="text" name="query" placeholder="Search..">
			<button type="submit"><i>Go!</i></button>
		</from>
	</div>
	{% if query != "" %}
		<div class="results-area centered">
			<h1> Results for: "{{ query }}" </h1>
			<div id="gallery">
				{% for img in images %}
					<img src="{{ img }}" alt="image">
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}